In [1]:
import pandas as pd

In [2]:
columns= ['home_team', 'away_team', 'home_result', 'away_result', 'date', 'round', 'city', 'edition']

In [3]:
df_clean = pd.DataFrame(columns=columns)
df_clean.head()

Empty DataFrame
Columns: [home_team, away_team, home_result, away_result, date, round, city, edition]
Index: []

In [4]:
df_clean['id_match']= range(1, len(df_clean) + 1)

## Lire les csv

## 1930-2010

In [5]:
df_matches_1930_2010 = pd.read_csv('sources/matches_1930-2010.csv')
df_matches_2014 = pd.read_csv('sources/matches2014.csv', sep=';')

In [6]:
df_matches_2022 = pd.read_csv('sources/matches_2022.csv')

In [7]:
df_matches_1930_2010.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7299 entries, 0 to 7298
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   edition  7299 non-null   object
 1   round    7299 non-null   object
 2   score    7299 non-null   object
 3   team1    7299 non-null   object
 4   team2    7299 non-null   object
 5   url      7299 non-null   object
 6   venue    7299 non-null   object
 7   year     7299 non-null   int64
dtypes: int64(1), object(7)
memory usage: 456.3+ KB

In [8]:
# Séparer la colonne 'score' en deux nouvelles colonnes
df_matches_1930_2010[['score1', 'score2']] = df_matches_1930_2010['score'].str.extract(r'(\d+)-(\d+)')

In [9]:
df_matches_1930_2010.head()

,edition,round,score,team1,team2,url,venue,year,score1,score2
0,1930-URUGUAY,GROUP_STAGE,4-1 (3-0),France,Mexico (México),1930_URUGUAY_FS.htm#1-WC-30-I,Montevideo.,1930,4,1
1,1930-URUGUAY,GROUP_STAGE,3-0 (2-0),USA,Belgium (België),1930_URUGUAY_FS.htm#13-WC-30-I,Montevideo.,1930,3,0
2,1930-URUGUAY,GROUP_STAGE,2-1 (2-0),Yugoslavia (Југославија),Brazil (Brasil),1930_URUGUAY_FS.htm#7-WC-30-I,Montevideo.,1930,2,1
3,1930-URUGUAY,GROUP_STAGE,3-1 (1-0),Romania (România),Peru (Perú),1930_URUGUAY_FS.htm#10-WC-30-I,Montevideo.,1930,3,1
4,1930-URUGUAY,GROUP_STAGE,1-0 (0-0),Argentina,France,1930_URUGUAY_FS.htm#2-WC-30-I,Montevideo.,1930,1,0

In [10]:
df_matches_1930_2010.isnull().sum()

edition     0
round       0
score       0
team1       0
team2       0
url         0
venue       0
year        0
score1     64
score2     64
dtype: int64

In [11]:
df_matches_1930_2010_wo_2014 = df_matches_1930_2010[df_matches_1930_2010['edition'] != '2014-BRAZIL']

In [12]:
df_matches_1930_2010_wo_2014.isnull().sum()

edition    0
round      0
score      0
team1      0
team2      0
url        0
venue      0
year       0
score1     0
score2     0
dtype: int64

In [13]:
df_matches_1930_2010_wo_2014.dtypes

edition    object
round      object
score      object
team1      object
team2      object
url        object
venue      object
year        int64
score1     object
score2     object
dtype: object

In [14]:
df_matches_1930_2010_wo_2014['score1'] = df_matches_1930_2010_wo_2014['score1'].astype('int64')
df_matches_1930_2010_wo_2014['score2'] = df_matches_1930_2010_wo_2014['score2'].astype('int64')

C:\Users\Raux Familly\AppData\Local\Temp\ipykernel_13876\333761209.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_matches_1930_2010_wo_2014['score1'] = df_matches_1930_2010_wo_2014['score1'].astype('int64')
C:\Users\Raux Familly\AppData\Local\Temp\ipykernel_13876\333761209.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_matches_1930_2010_wo_2014['score2'] = df_matches_1930_2010_wo_2014['score2'].astype('int64')

In [15]:
df_matches_1930_2010_wo_2014.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6415 entries, 0 to 6414
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   edition  6415 non-null   object
 1   round    6415 non-null   object
 2   score    6415 non-null   object
 3   team1    6415 non-null   object
 4   team2    6415 non-null   object
 5   url      6415 non-null   object
 6   venue    6415 non-null   object
 7   year     6415 non-null   int64
 8   score1   6415 non-null   int64
 9   score2   6415 non-null   int64
dtypes: int64(3), object(7)
memory usage: 551.3+ KB

In [16]:
df_clean['home_team'] = df_matches_1930_2010_wo_2014['team1'].to_list()

In [17]:
df_clean['home_result'] = df_matches_1930_2010_wo_2014['score1'].to_list()

In [18]:
df_clean.head()

,home_team,away_team,home_result,away_result,date,round,city,edition,id_match
0,France,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN
1,USA,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN
2,Yugoslavia (Југославија),NaN,2,NaN,NaN,NaN,NaN,NaN,NaN
3,Romania (România),NaN,3,NaN,NaN,NaN,NaN,NaN,NaN
4,Argentina,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df_clean['away_team'] = df_matches_1930_2010_wo_2014['team2'].to_list()
df_clean['away_result'] = df_matches_1930_2010_wo_2014['score2'].to_list()

In [20]:
df_clean.head()

,home_team,away_team,home_result,away_result,date,round,city,edition,id_match
0,France,Mexico (México),4,1,NaN,NaN,NaN,NaN,NaN
1,USA,Belgium (België),3,0,NaN,NaN,NaN,NaN,NaN
2,Yugoslavia (Југославија),Brazil (Brasil),2,1,NaN,NaN,NaN,NaN,NaN
3,Romania (România),Peru (Perú),3,1,NaN,NaN,NaN,NaN,NaN
4,Argentina,France,1,0,NaN,NaN,NaN,NaN,NaN

In [42]:
df_clean['round'] = df_matches_1930_2010_wo_2014['round'].to_list()
df_clean['edition'] = df_matches_1930_2010_wo_2014['edition'].to_list()
df_clean['city'] = df_matches_1930_2010_wo_2014['venue'].to_list()

ValueError: Length of values (6415) does not match length of index (160)

In [22]:
df_clean.head()

,home_team,away_team,home_result,away_result,date,round,city,edition,id_match
0,France,Mexico (México),4,1,NaN,GROUP_STAGE,Montevideo.,1930-URUGUAY,NaN
1,USA,Belgium (België),3,0,NaN,GROUP_STAGE,Montevideo.,1930-URUGUAY,NaN
2,Yugoslavia (Југославија),Brazil (Brasil),2,1,NaN,GROUP_STAGE,Montevideo.,1930-URUGUAY,NaN
3,Romania (România),Peru (Perú),3,1,NaN,GROUP_STAGE,Montevideo.,1930-URUGUAY,NaN
4,Argentina,France,1,0,NaN,GROUP_STAGE,Montevideo.,1930-URUGUAY,NaN

In [23]:
df_clean.describe()

       home_result  away_result  id_match
count  6415.000000  6415.000000       0.0
mean      1.833203     1.084645       NaN
std       1.864423     1.395628       NaN
min       0.000000     0.000000       NaN
25%       1.000000     0.000000       NaN
50%       1.000000     1.000000       NaN
75%       3.000000     2.000000       NaN
max      31.000000    22.000000       NaN

In [24]:
import numpy as np

In [25]:
# Vérifier si 'id_match' existe déjà et la réinitialiser
if 'id_match' in df_clean.columns:
    df_clean['id_match'] = np.arange(1, len(df_clean) + 1)
else:
    df_clean.insert(0, 'id_match', np.arange(1, len(df_clean) + 1))

# Afficher le DataFrame résultant
print(df_clean)

                     home_team                away_team  home_result  \
0                       France          Mexico (México)            4
1                          USA         Belgium (België)            3
2     Yugoslavia (Југославија)          Brazil (Brasil)            2
3            Romania (România)              Peru (Perú)            3
4                    Argentina                   France            1
...                        ...                      ...          ...
6410                  Paraguay           Spain (España)            0
6411                   Uruguay  Netherlands (Nederland)            2
6412     Germany (Deutschland)           Spain (España)            0
6413                   Uruguay    Germany (Deutschland)            2
6414   Netherlands (Nederland)           Spain (España)            0

      away_result date        round             city            edition  \
0               1  NaN  GROUP_STAGE      Montevideo.       1930-URUGUAY
1               0  NaN  GROUP_STAGE      Montevideo.       1930-URUGUAY
2               1  NaN  GROUP_STAGE      Montevideo.       1930-URUGUAY
3               1  NaN  GROUP_STAGE      Montevideo.       1930-URUGUAY
4               0  NaN  GROUP_STAGE      Montevideo.       1930-URUGUAY
...           ...  ...          ...              ...                ...
6410            1  NaN    1/4_FINAL    Johannesburg.  2010-SOUTH AFRICA
6411            3  NaN    1/2_FINAL       Cape Town.  2010-SOUTH AFRICA
6412            1  NaN    1/2_FINAL          Durban.  2010-SOUTH AFRICA
6413            3  NaN   PLACES_3&4  Port_Elizabeth.  2010-SOUTH AFRICA
6414            1  NaN       _FINAL    Johannesburg.  2010-SOUTH AFRICA

      id_match
0            1
1            2
2            3
3            4
4            5
...        ...
6410      6411
6411      6412
6412      6413
6413      6414
6414      6415

[6415 rows x 9 columns]

In [26]:
df_clean.head()

,home_team,away_team,home_result,away_result,date,round,city,edition,id_match
0,France,Mexico (México),4,1,NaN,GROUP_STAGE,Montevideo.,1930-URUGUAY,1
1,USA,Belgium (België),3,0,NaN,GROUP_STAGE,Montevideo.,1930-URUGUAY,2
2,Yugoslavia (Југославија),Brazil (Brasil),2,1,NaN,GROUP_STAGE,Montevideo.,1930-URUGUAY,3
3,Romania (România),Peru (Perú),3,1,NaN,GROUP_STAGE,Montevideo.,1930-URUGUAY,4
4,Argentina,France,1,0,NaN,GROUP_STAGE,Montevideo.,1930-URUGUAY,5

## 2014

In [28]:
df_matches_2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  80 non-null     int64
 1   Datetime              80 non-null     object
 2   Stage                 80 non-null     object
 3   Stadium               80 non-null     object
 4   City                  80 non-null     object
 5   Home Team Name        80 non-null     object
 6   Home Team Goals       80 non-null     int64
 7   Away Team Goals       80 non-null     int64
 8   Away Team Name        80 non-null     object
 9   Win conditions        80 non-null     object
 10  Attendance            78 non-null     float64
 11  Half-time Home Goals  80 non-null     int64
 12  Half-time Away Goals  80 non-null     int64
 13  Referee               80 non-null     object
 14  Assistant 1           80 non-null     object
 15  Assistant 2           80 non-null     object
 16  RoundID               80 non-null     int64
 17  MatchID               80 non-null     int64
 18  Home Team Initials    80 non-null     object
 19  Away Team Initials    80 non-null     object
dtypes: float64(1), int64(7), object(12)
memory usage: 12.6+ KB

In [29]:
df_matches_2014 = df_matches_2014.drop(['Stadium', 'Win conditions', 'Attendance', 'Half-time Home Goals', 'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2', 'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'], axis =1)

In [43]:
df_matches_2014_renamed = df_matches_2014.rename(columns={'Year':'edition', 'Datetime': 'date', 'Stage': 'round', 'City':'city', 'Home Team Name': 'home_team', 'Home Team Goals': 'home-result', 'Away Team Name': 'away_team', 'Away Team Goals': 'away_result'}, inplace=True)

In [31]:
df_matches_2014_renamed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   edition      80 non-null     int64
 1   date         80 non-null     object
 2   round        80 non-null     object
 3   city         80 non-null     object
 4   home_team    80 non-null     object
 5   home-result  80 non-null     int64
 6   away_result  80 non-null     int64
 7   away_team    80 non-null     object
dtypes: int64(3), object(5)
memory usage: 5.1+ KB

In [32]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6415 entries, 0 to 6414
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   home_team    6415 non-null   object
 1   away_team    6415 non-null   object
 2   home_result  6415 non-null   int64
 3   away_result  6415 non-null   int64
 4   date         0 non-null      object
 5   round        6415 non-null   object
 6   city         6415 non-null   object
 7   edition      6415 non-null   object
 8   id_match     6415 non-null   int64
dtypes: int64(3), object(6)
memory usage: 451.2+ KB

In [44]:
df_clean.head()

,edition,date,round,city,home_team,home-result,away_result,away_team
0,2014,12 Jun 2014 - 17:00,Group A,Sao Paulo,Brazil,3,1,Croatia
1,2014,13 Jun 2014 - 13:00,Group A,Natal,Mexico,1,0,Cameroon
2,2014,13 Jun 2014 - 16:00,Group B,Salvador,Spain,1,5,Netherlands
3,2014,13 Jun 2014 - 18:00,Group B,Cuiaba,Chile,3,1,Australia
4,2014,14 Jun 2014 - 13:00,Group C,Belo Horizonte,Colombia,3,0,Greece

In [35]:
for col in ['home_team','away_team']:
    df_clean[col]= df_clean[col].replace(r'\(.*?\)', '', regex=True)